USE [master]
GO
/****** Object:  Database [TestCrud]    Script Date: 8/11/2022 2:23:58 p. m. ******/
CREATE DATABASE [TestCrud]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestCrud', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TestCrud.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestCrud_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TestCrud_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestCrud].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestCrud]
GO
/****** Object:  Table [dbo].[tRoles]    Script Date: 8/11/2022 2:23:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tRoles](
	[rolId] [int] IDENTITY(1,1) NOT NULL,
	[rolname] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tRoles] PRIMARY KEY CLUSTERED 
(
	[rolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tUsers]    Script Date: 8/11/2022 2:23:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tUsers](
	[ID] [int] IDENTITY(100,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Apellido] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Rol] [int] NOT NULL,
 CONSTRAINT [PK_TblUsers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tRoles]  WITH CHECK ADD  CONSTRAINT [FK_tRoles_tRoles] FOREIGN KEY([rolId])
REFERENCES [dbo].[tRoles] ([rolId])
GO
ALTER TABLE [dbo].[tRoles] CHECK CONSTRAINT [FK_tRoles_tRoles]
GO
ALTER TABLE [dbo].[tUsers]  WITH CHECK ADD  CONSTRAINT [FK_tUsers_tRoles] FOREIGN KEY([Rol])
REFERENCES [dbo].[tRoles] ([rolId])
GO
ALTER TABLE [dbo].[tUsers] CHECK CONSTRAINT [FK_tUsers_tRoles]
GO
USE [master]
GO
